/*TODO: Add a background color or image to your website*/
body {
 background-color: #967bb6; 
}


h1 {
  color: navy;
}


/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */




/*TODO: Use the * selector to reset the margin and padding to 0px*/





/*TODO: Add styling rules for the text and images on your website.*/




/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 