body {
  background-color: lavender;
  color: indigo;
}

h1 {
  color: navy;
  text-align: left;
}

.rotateme {
  transform: rotate(180deg);
}

body {
  margin: 20px;
}

.topnav {
  background-color: #2C497F;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: indigo;
}
.topnav a.active {
  background-color: #F05D23;
  color: white;
}

img {
  max-width: 23%;
  height: auto;
}
